<h1>About Swish: How does it work?</h1>
<h2>It´s your friend´s birthday and you have no idea what to give as a present? Or you want to collect all your wishes for
  your next birthday or christmas?</h2>
<p>Swish is the easy way to collect your wishes and to see your friend´s wishes! It makes giving presents easy!</p>
<p>Signup now to see what your friends are dreaming of. You can also create your own wish list and share it with your friends.
</p>
<p>Please be aware that at the moment, your list is visible to all users (work in progress...). This site was created by
  students of Ironhack´s Web Development Bootcamp. All rights reserved ;-)</p>


<img src="https://assets.marthastewart.com/styles/wmax-570/d28/gift-tags-3-0259main-d111506/gift-tags-3-0259main-d111506_sq.jpg?itok=5jdphyUH"
  alt="gifts">