<h1>Error!</h1>
<h2>Oh, sorry! There was an error on the server! Check the console - or ask a digital native!</h2>
<img src="https://img.freepik.com/free-vector/404-error-web-template-with-cute-lazy-in-the-tree_23-2147763336.jpg?size=338&ext=jpg"
  alt="cute error">