<h1>{{title}}</h1>
<br>
<p>Welcome to {{title}}</p>
<br>
<br>

<p>It´s your friend´s birthday and you have no idea what to give as a present? Or you are wondering what to give as christmas
  present to your loved ones?</p>
<p>Swish is the easy way to collect your wishes and to see your friend´s wishes! It makes giving presents easy!</p>