<div class="row">
  <div class="col-md-6">
    <p>Imagine you are glancing at your calendar and all of a sudden you notice that it´s one of your friend´s birthday.
      Having no clue what his or her wish is about. And in fact no time to properly check out without ruining the surprise.
    </p>

    <h1>'SWISH is your solution</h1>


    <p>You can check discreetely what your friends wishes are and even better be sure they are not yet taken by anyone else.
      <p>Start right now and be prepared for any upcoming birthday.</p>
  </div>
  <div class="col-md-6 homepage-img">
    <img src="https://res.cloudinary.com/djfaky39y/image/upload/v1536315624/swish/FINAL_Swish_yourfriendswish_gre.png" alt="">
  </div>
</div>



<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="/users" method="get">
    <input class="form-control mr-sm-2" name="search" type="text" placeholder="Enter a friend´s name" aria-label="Search">
    <button class="btn btn-inline-success my-2 my-sm-0" type="submit">Browse Friends</button>
  </form>
</nav>