<h1>{{title}}</h1>
<br>
<h2>Welcome!</h2>

<p>It´s your friend´s birthday and you have no idea what to give as a present? Or you are wondering what to give as christmas
  presents to your loved ones?</p>
<p>Swish is the easy way to collect your wishes and to see your friend´s wishes! It makes giving presents easy! Search for
  your friend here:</p>



<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" id "username" name="Browse friends" type="search" placeholder="username or email" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id "browse" type="submit">Browse Friends</button>
  </form>
</nav>