<h1>404 Error</h1>
<h2>Oh, sorry! This route does not exist on the app (yet)! Check if everything is ok!</h2>
<p>(Maybe the problem sits in front of the computer...)</p>
<img src="https://img.freepik.com/free-vector/404-error-web-template-with-cute-lazy-in-the-tree_23-2147763336.jpg?size=338&ext=jpg"
  alt="cute error">