
<h1>404 Error</h1>
<h2>Problem occured! We are currently working on it! *promise*</h2>
<div class="container">
  <div style="width: 200px;">
    <img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" style="width: 100%;" alt="cat working">
  </div>
</div>