<h1>User profile {{username}}</h1>
<p>{{password}}</p>

<h2>Requests to access my wish list: </h2>

<br>
<h2>My wish list:</h2>
<ul>
  {{#each wishes}}
  <li>
    <h1>{{this.name}}</h1>
    <img src="{{this.picture}}" alt="">
  </li>
  {{/each}}
</ul>
<br>
<button>Delete my profile</button>