{{#if message}}
<div class="alert alert-warning alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{message}}
</div>
{{/if}}

<h1>The list of all people with swishes</h1>


<ul>
  {{#each users}}
  <li>
<<<<<<< HEAD
    <a href="/users/{{this}}">
=======
    <a href="/users/{{this._id}}/wishlist">
>>>>>>> 9329e47b9d74b2897730542390854daf1be27b94
      {{this.username}}
    </a>
  </li>
  {{/each}}
</ul>